html{
    width: 100%;
}
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
    margin: 0;
}
a {
  color: #00B7FF;
}

/*************************************************
    base content box
**************************************************/
#content{
    width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 350px;
}


/**************************************************
NAVIGATION AND TOP ELEMENTS rules
**************************************************/
div#top_content nav{

}

div#top_content nav li{
    display: inline-block;
    /*text-decoration: none;*/
    height: 30px;
    border-bottom: 1px solid black;
    margin-right: 10px;
    padding: 5px;
}

div#top_content nav li:hover{
    background: #efefef;
}

div#top_content nav li a{
    text-decoration: none;
    color: black;
    line-height: 30px;
    vertical-align: middle;
}


/*************************************************
    rules that style the add site FORM
**************************************************/
form label{
    font-size: 12px;
    font-weight: bold;
    /*margin: 8px 0 10px 0;*/
}

input[type=text], input[type=url], select {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    font-size: 12px;
    font-weight: bold;
}

input[type=submit] {
    background-color: #45a049;
    font-size: 12px;
    font-weight: bold;
}

#form_add_new_site{
    /*width: 300px;*/
    display: block;
    background: #eee;
    padding: 20px;
    border-radius: 3px;
}

button#toggle{
    width: 340px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 40px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
}


/**************************************************
    RULES TO STYLE THE "TABLE" HEADER
**************************************************/
/*ul#sitelist, div.listheader{
    width: 100%;
}*/
div.listheader{
    width: 100%;
    display: inline-block;
    /*margin-bottom: 10px;*/
    /*padding: 10px 10px 5px 10px;*/
    padding: 10px 0;
    border-radius: 3px 3px 0 0;
    background: #eee;
}
div.listheader div{
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
}

/**************************************************
    WIDTHS OF HEADERS AND EACH SITES FIELD
**************************************************/
div.listheader div.name, li.sitesingle span.name{
    width: 200px;
}
div.listheader div.cur_http_status, li.sitesingle span.cur_http_status{
    width: 120px;
}
div.listheader div.keyword_exists, li.sitesingle span.keyword_exists{
    width: 170px;
}


/**************************************************
    unordered list that will contain the sites listing
**************************************************/

ul#sitelist{
    padding: 5px 10px 10px 10px;
    background: #eee;
    border-radius: 0 0 3px 3px;
    margin: 0 !important;
}

/**************************************************
    INDIVIDUAL SITES WITHIN LISTING
/**************************************************/
li.sitesingle{
    list-style: none;
    font-weight: bold;
    height: 35px;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
    display: inline-block;
}
li.sitesingle span{
    float: left;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}

#rbutton{
    width: 90px;
}

button.remove_site{
    float: right;
    background-color: #f44336;

    font-size: 10px;
    color: white;
    vertical-align: middle;
    line-height: 31px;
    padding: 0 7px;
    /*margin-left: 20px;*/
}
