<!-- <!DOCTYPE html>

<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="javascripts/app.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">

    </head>
    <body ng-app="WebMonitor">

        <script>

        </script> -->

        <button ng-click="toggle()" id="toggle" ng-controller="ToggleFORM">
            Show / Hide form &#8681;
        </button>

        <form ng-submit="submit()" ng-controller="AddNewSiteCONTROLLER" id="form_add_new_site" class="ng-hide">
            <label for="name">
                Site Name
                <input id="name" name="name" ng-model="name" type="text" autofocus placeholder="Example.com" required>
            </label>
            <label for="url">
                URL
                <input id="url" name="url" ng-model="url" type="text" placeholder="www.example.com" required>
            </label>
            <label for="keyword">
                Keyword to search
                <input id="keyword" name="keyword" ng-model="keyword" type="text" placeholder="some word" required>
            </label>
            <input type="submit" id="submit">
        </form>
<!-- 
    </body>
</html> -->
